.imgtext{
	position: absolute;
	top: 40%;
	left: 50px;
	width: 80%;	
	min-height: 40px;
	font-size: 50px;
	font-weight: 100;
	line-height: 30px;
	color: #ffffff;
	text-align: center;
	//opacity: 0.333;
	filter: alpha(opacity=30);
}
.thumbnail>img {
	display: block;
	max-width: 100%;
	height: auto;
	border: 3px solid #16a085;
}
.img-circle {
	border-radius: 50%;
}
.thumbnail-badges {
	list-style: none;
	padding: 0;
	text-align: center;
	-webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	-moz-box-shadow: 0 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.thumbnail {
	padding: 4px;
	line-height: 1.428571429;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto;
	display: block;
}
.staff {
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;

}
.staff h5 {
    line-height: 18px;
}

.staff span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    color: #888;
}

.team-about p {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
}
.social-icons {
    margin: 0;
    float: right;
}


.social-icons li {
    display: inline;
    list-style: none;
    text-indent: -9999px;
    margin-left: 5px;
    background-position: 0 -38px;
    float: left;
    opacity: 0.2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
}

.social-icons li a {
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 28px;
    width: 28px;
}

.social-icons li:hover {opacity: 1;}

#consulting{
	background-color:#bd362e;
	color:white;
	right:0px;
	top:280px;
	padding:0px 10px;
	font-size:15px;
	z-index:1000;
	height:30px;
	line-height:30px;
	font-weight:bold;
}
