
<!DOCTYPE html>
<html>
	<body>
	<!-- page wrapper -->
	<div class="container wrapper">

		<div class="row">
			<div class="span12">
				<h2>Our Services</h2>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<div class="well centered">
					<h3>It brings you a beautiful look and a powerful framework for your website</h3>
					<p>Twenty years from now you will be more disappointed by the things that you didn't do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds. Explore. Dream. Discover. The design will scale to fit on all browser widths/resolutions and on all mobile devices. Go ahead and scale your browser window and see the results.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span3">
				<ul class="pricing-table">
					<li><h3>Free Plan</h3></li>
					<li>Quality Support</li>
					<li>Free Platform Access</li>
					<li>Unlimited Disk Space</li>
					<li>Instant Delivery</li>
					<li>Top Notch Quality Service</li>
					<li class="footer"><a href="pricing.html#" class="btn btn-large">Buy Now</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="pricing-table">

					<div class="ribbon-wrapper">
						<div class="ribbon">Featured</div>
					</div>

					<li><h3>Beginner Plan</h3></li>
					<li>Quality Support</li>
					<li>Free Platform Access</li>
					<li>Unlimited Disk Space</li>
					<li>Instant Delivery</li>
					<li>Top Notch Quality Service</li>
					<li class="footer"><a href="pricing.html#" class="btn btn-primary btn-large">Buy Now</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="pricing-table">
					<li><h3>Entrepreneur</h3></li>
					<li>Quality Support</li>
					<li>Free Platform Access</li>
					<li>Unlimited Disk Space</li>
					<li>Instant Delivery</li>
					<li>Top Notch Quality Service</li>
					<li class="footer"><a href="pricing.html#" class="btn btn-large">Buy Now</a></li>
				</ul>
			</div>
			<div class="span3">
				<ul class="pricing-table">
					<li><h3>Professional</h3></li>
					<li>Quality Support</li>
					<li>Free Platform Access</li>
					<li>Unlimited Disk Space</li>
					<li>Instant Delivery</li>
					<li>Top Notch Quality Service</li>
					<li class="footer"><a href="pricing.html#" class="btn btn-large">Buy Now</a></li>
				</ul>
			</div>
		</div>

	</div><!-- /.container (page container)-->

	</body>
</html>
