{% extends "base.html" %}
{% block page-content %}
		<div class="row">
			<div class="span12">
				<h2>老男孩Linux培训</h2>
				<hr>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<h3>成长故事</h3>
				<p>
				老男孩培训学校成立于2005年，由北京老男孩信息技术有限公司联合北京满帆集团创办。
				学校开设的培训项目有 Linux中高级运维培训，Python高级运维开发课程培训以及C语言系统
				运维开发培训等。我们以提高对网络开发有兴趣的朋友的相关技术，帮助他们找到自己心仪的
				工作为已任。因此老男孩实训成立以来，成为众多朋友IT实战就业培训的第一选择。老男孩
				实训为广大朋友特别是刚离开校门的朋友提供工作前的实际IT项目培训，培训完成后能够顺利
				进入公司，从事相关的开发工作。 如果您是已经大学毕业，或者高中中专毕业，想快速进入相关开发工作，那么老男孩实训将是您不二的选择！Linux中高级运维实战就业班
				</p>
			</div>
		</div>
		<h3>教学团队</h3>
		<div class="row thumbnail-badges ">
			<div class="span4 thumbnail">
				<img src="/static/assets/user-2.jpg" class="img-circle">
				<h3>创始人：老男孩</h3>
				<p>老男孩，资深Linux系统运维架构专家、高级运维总监。从事一线网站运维及系统架构管理近12年，
				曾就职于若干大规模高并发访问量的行业门户网站，并为多家互联网公司做过技术顾问，
				擅长大规模网站系统架构。并于2007年开办了国内首个Linux运维实战培训私塾式精英教育机构。
				并将个人的网站运维架构及教育领域的经验成功应用到IT教育领域教学工作。累计受益学生千余人
				（其中培训VIP学生200余人，部分学生就职于淘宝、阿里巴巴、百度、开心网、激动网、小米科技、
				土豆、酷六、sohu、sina、金山、尚德，chinacache,快网、遨游、赶集、拉手网，窝窝团、
				就业工场、联通、电信等知名公司）。
				主讲课程：Linux中高级运维培训等
				</p>
			</div>
			<div class="span4 thumbnail">
				<img src="/static/assets/user-2.jpg" class="img-circle">
				<h3>主讲师：Alex Li</h3>
				<p>Alex,TriAquae开源软件创始人及主要开发人员，毕业于山东科技大学，混迹IT运维领域多年，
				曾就职于松下、国政通网络、飞信、中金公司、NOKIA等公司。维护过少至几十台，多至数万台
				设备的IT系统，致力于提高企业运维自动化水平，坚信一人管理一万台设备是可以达到的目标，
				坚信不会开发的运维工程师应该下岗。自称业余政治观察员，屌丝愤青，热爱旅游、美剧。 
				主讲课程：Python运维开发培训课程等</p>
			</div>
{% endblock %}