<!DOCTYPE html>
<html>
	<head id="header">
	{% block header %} {%endblock%}
		<meta charset="utf-8">
		<title>Merovingio - Responsive Bootstrap Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href="/static/css/customized.css">
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Patua+One'>
		<link rel="stylesheet" href="/static/css/isotope.css">
		{% block othercss %}{% endblock %}
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="css/font-awesome-ie7.css">
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="favicon.ico">
		  <!-- Icons -->
    		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> 
	</head>

	<body>
	<!-- page wrapper -->
	<div class="container wrapper">
		<header>
			<div class="row">
				<div class="span4">
					<h1>
						<a href="index.html"><img src="/static/assets/logo.jpg" alt=""></a>
					</h1>
				</div>
				<!--div class="span4">
					<ul class="social-media">
						<li><a href="index.html#"><i class="icon icon-twitter-sign"></i></a></li>
						<li><a href="index.html#"><i class="icon icon-facebook-sign"></i></a></li>
						<li><a href="index.html#"><i class="icon icon-google-plus-sign"></i></a></li>
						<li><a href="index.html#"><i class="icon icon-pinterest-sign"></i></a></li>
					</ul>
				</div-->
				<div class="input-append">
						<br>
						<div class="pull-right">
							<h4>课程咨询热线:010-60747396</h4>
						</div>
				</div><!-- /.span -->
			</div><!-- /.row -->
		</header>
	<!--	<div id="consulting" style="position:fixed;"><i class="icon icon-comments"> 在线咨询</i></div>	-->
		<div id="style-switcher" style="right: 0px;">
            <h2>
				开始咨询
				<a href="#" class="consulting"><i class="icon icon-comments"> 在线咨询</i></a>
			</h2>
            <div>
                <h3>Layout</h3>
                <div class="layout-style">
                    <select id="layout-switcher">

                        <option value="css/wide">Wide</option>
                        <option value="css/fixed-width">Fixed Width</option>
                    </select>
                </div>
                <p>Be Creative with the Menu &amp; Menu Hover, You can have more then 300 Combinations!</p>

                <h3>Default Colors (includes Menu Hover)</h3>
                <ul class="colors" id="color1">
                    <li><a href="#" class="green" title="Green"></a></li>
                    <li><a href="#" class="blue" title="Blue"></a></li>
                    <li><a href="#" class="orange" title="Orange"></a></li>
                </ul>
                <!--Menu Color -->
                <h3>Menu Color (Main &amp; Sub )</h3>
                <ul class="colors navcolor" id="navcolor">
                    <li><a href="#" class="green-bg" title="Green"></a></li>
                    <li><a href="#" class="blue-bg" title="Blue"></a></li>
                    <li><a href="#" class="orange-bg" title="Orange"></a></li>                    
                </ul>
                <h3>Background Image</h3>
                <ul class="colors bg" id="bg">
                    <li><a href="#" class="bg1"></a></li>
                    <li><a href="#" class="bg2"></a></li>
                    <li><a href="#" class="bg3"></a></li>                   
                </ul>

                <h3>Background Color</h3>
                <ul class="colors bgsolid" id="bgsolid">
                    <li><a href="#" class="green-bg" title="Green"></a></li>
                    <li><a href="#" class="blue-bg" title="Blue"></a></li>
                    <li><a href="#" class="orange-bg" title="Orange"></a></li>                   
                </ul>

            </div>

            <div id="reset"><a href="#" class="btn">Reset</a></div>

        </div>		
		<div class="row">
			<div class="span12">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">Menu</a>
							<div class="nav-collapse collapse">
								<ul class="nav">
									{% ifequal tabname "homepage" %}
									<li class="active"><a class="brand" href="/">首页</a></li>
									{% else %}
									<li><a class="brand" href="/">首页</a></li>
									{% endifequal %}
									{% ifequal tabname "about" %}
									<li class="active"><a href="/about/">我们</a></li>
									{% else %}
									<li><a href="/about/">我们</a></li>
									{% endifequal %}
									{% ifequal tabname "courses" %}
									<li class="active"><a href="/courses/">课程</a></li>
									{% else %}
									<li><a href="/courses/">课程</a></li>
									{% endifequal %}
									{% ifequal tabname "graduate" %}
									<li class="active"><a href="/graduate/">就业</a></li>
									{% else %}
									<li><a href="/graduate/">就业</a></li>
									{% endifequal %}
									{% ifequal tabname "enroll" %}									
									<li class="active"><a href="/enroll/">问答</a></li>
									{% else %}
									<li><a href="/enroll/">问答</a></li>
									{% endifequal %}
									{% ifequal tabname "onLineCourse" %}									
									<li class="active"><a href="/onLineCourse/">在线试听</a></li>
									{% else %}
									<li><a href="/onLineCourse/">在线试听</a></li>
									{% endifequal %}
									{% ifequal tabname "newClass" %}									
									<li class="active"><a href="/newClass/">最新开班</a></li>
									{% else %}
									<li><a href="/newClass/">最新开班</a></li>
									{% endifequal %}
									{% ifequal tabname "news" %}									
									<li class="active"><a href="/news/">行业动态</a></li>
									{% else %}
									<li><a href="/news/">行业动态</a></li>
									{% endifequal %}
									{% ifequal tabname "校内BBS" %}									
									<li class="active"><a href="http://bbs.etiantian.org/forum.php" target="blank">校内BBS</a></li>
									{% else %}
									<li><a href="http://bbs.etiantian.org/forum.php" target="blank">校内BBS</a></li>
									{% endifequal %}
									{% ifequal tabname "contact" %}									
									<li class="active"><a href="/contact/">联系</a></li>
									{% else %}
									<li><a href="/contact/">联系</a></li>
									{% endifequal %}
								</ul> <!-- /.nav -->
							</div> <!-- /.nav-collapse -->
						</div><!-- /container -->
					</div><!-- /navbar-inner -->
				</div><!-- /navbar -->
			</div><!-- /row -->
		</div><!-- /span12 whoa! -->
	<div id="page-content">	
	{%  block page-content %}{% endblock %}
	</div> <!--page-content-->
	</div><!-- /.container (page container)-->
	<footer>
		<div class="container">
			<!-- row of widgets -->
			<div class="row">
				<div class="span3">
					<h4>关于我们</h4>
					<p>老男孩Linux是国内少有的专注于高端Linux运维的培训的机构，我们致力于为业内中大型企业培训急需的高级Linux运维工程师、架构师、运维自动化开发工程师,百度、腾讯、阿里、新浪、SOHU、小米等国内知名企业都遍布着老男孩毕业学员.</p>
				</div> <!-- /.span3 -->

				<hr class="visible-phone">
				
				<div class="span3">
					<h4>友情链接</h4>
					<ul>
						<li><a href="http://triweb.sinaapp.com">TriAquae 开源运维软件</a></li>
						<li><a href="http://oldboy.blog.51cto.com/">老男孩博客</a></li>
						<li><a href="http://www.51cto.com/">51CTO</a></li>
						<li><a href="http://www.chinaunix.net">ChinaUnix 论坛</a></li>
						<li><a href="">Web Platfoms</a></li>
						<li><a href="index.html#">HTML5 The Ubiquitous Platform</a> <small>Hot Topic</small></li>
					</ul>
				</div><!-- /.span3 -->

				<hr class="visible-phone">
				
				<div class="span3">
					<h4>毕业学员就业公司</h4>
					<ul class="tag-cloud">
						<li><a href="/graduate/">百度</a></li>
						<li><a href="/graduate/">360安全</a></li>
						<li><a href="/graduate/">小米手机</a></li>
						<li><a href="/graduate/">腾讯</a></li>
						<li><a href="/graduate/">高德软件</a></li>
						<li><a href="/graduate/">新浪</a></li>
						<li><a href="/graduate/">搜狐畅游</a></li>
						<li><a href="/graduate/">完美游戏</a></li>
						<li><a href="/graduate/">支付宝</a></li>
						<li><a href="/graduate/">移动研究院</a></li>
						<li><a href="/graduate/">华夏银行</a></li>
						<li><a href="/graduate/">京东商城</a></li>
						<li><a href="/graduate/">...</a></li>
					</ul>
				</div><!-- /.span3 -->

				<hr class="visible-phone">
				
				<div class="span3">
					<h4>老男孩培训官方交流群</h4>
					<form class="footer-form">
						<fieldset>
							<label>Get our email weekly newsletter</label>
							<input type="text" placeholder="Enter your email">
							<span class="help-block">No spam, we promise!</span>
							<button type="submit" class="btn btn-primary">Subscribe</button>
						</fieldset>
					</form>
				</div> <!-- /.span3 -->
			</div> <!-- /.row -->
		</div><!-- /.container -->

		<div class="bottom-line">
			<div class="container">
				<p class="pull-right"><a href="/">Back to top</a></p>
				<p>&copy; 2013 | 本网站由老男孩Python开发班第二期学员赵红金、高钟林开发！ <a href="http://twitter.com/heyallanmoreno" target="_blank">@heyallanmoreno</a> | <a href="index.html#"><i class="icon icon-twitter"></i></a> | <a href="index.html#"><i class="icon icon-facebook"></i></a> | <a href="index.html#"><i class="icon icon-google-plus"></i></a> | <a href="index.html"><i class="icon icon-pinterest"></i></a></p>
			</div>
		</div>
	</footer>

	<!-- last but not least the javascript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/js/jquery-1.8.2.min.js"><\/script>')</script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.isotope.min.js"></script>
	<script src="/static/js/switcher.js"></script>
	<script>
		$(document).ready(function(){
			//bootstrap tooltip trigger
			$('[rel="tooltip"]').tooltip();
		});
	</script>
	{% block others %}{% endblock %}
	</body>
</html>
