{% extends "index.html" %}
<html>

<head>
		<meta charset="utf-8">
		<title>Merovingio - Responsive Bootstrap Template</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<link rel="stylesheet" href="/static/css/theme.css">
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Patua+One'>
		<!--[if lt IE 9]>
			<link rel="stylesheet" href="css/font-awesome-ie7.css">
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="shortcut icon" href="favicon.ico">
</head>

<body>
{% block page-content%}  

                <div class="row">
                        <div class="span12">
                                <h2>联系我们</h2>
                                <hr>
                        </div>
                </div>

                <div class="row">
                        <div class="span12">
                                <h3>See what’s what.</h3>
				<p>We here at Merovingio have proven we know that it is better to brand ultra-seamlessly than to aggregate efficiently. We will generate the ability of all-hands meetings to incentivize. What do we deliver? Anything and everything, regardless of standing! Our technology takes the best features of Python and OWL. Your budget for productizing should be at least one-third of your budget for reintermediating.</p>
			</div>
		</div>
		<div class="row">
			<div class="span4">
				<h3>Our Location</h3>
				<img src="/static/assets/map.png"  alt="">
			</div>
			<div class="span4">
                                <h3>Contact Info</h3>
                                <div class="well">
                                        <p><strong>学校地址:</strong></p>
                                        <hr>
                                        <p>
                                                北京市昌平区沙河青年创业大厦15层 <br>
                                                 <br>
                                                报名电话：010-60747396 （工作时间）<br>
						  18911718229  18600338340(8：00-22：00）<br>
						QQ: 70271111  1986787350
                                        </p>
                                        <hr>
                                        <p>Don't hesitate to contact us about anything you want. We are open to questios, comments and suggestions.</p>
                                </div>
                        </div>
                        <div class="span4">
                                <h3>Email Us</h3>
                                        <form class="form">
                                                <label for="name">Your name:</label>
                                                <input class="span4" type="text" id="name" placeholder="">

                                                <label for="inputEmail">Email:</label>
                                                <input class="span4" type="text" id="inputEmail" placeholder="">

                                                <label for="message">Your message:</label>
                                                <textarea class="span4" rows="4" id="message" placeholder=""></textarea>

                                                <label class="checkbox">
                                                        <input type="checkbox"> Send me a copy
                                                </label>
                                                <button type="submit" class="btn btn-primary">Alright sparky, send it.</button>
                                        </form>
                        </div>
                </div><!-- /.row -->

                <div class="row">
                        <div class="span12">
                                <h3><span>Privacy Policy</span></h3>
                                <div class="alert centered">
                                        <strong>Our privacy policy</strong>
                                        Our website does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.
                                        Our website only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, physical address, zip code, email address, phone number, social security number, birth date, credit card information, financial information, and other personal information necessary to generate proper legal documents.
                                </div>
                        </div>
                </div>



        </div><!-- /.container (page container)-->


{% endblock %}
</body>
</html>
