{% extends "base.html" %}
	{% block page-content%}
		<h2>学员关心的问题</h2>
		<hr>
	
	<div class="panel-group" id="accordion">
        {%  for question in question_list%}	
		<div class="panel panel-default">
    		    <div class="panel-heading">
			<h4 class="panel-title">
        		   <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{question.id}}">
				<h4>问：{{question.question}}</h4>
			   </a>
			</h4>
		    </div>
		    <div id="collapse_{{question.id}}" class="panel-collapse collapse in">
      			<div class="panel-body">		
			   <pre style="background-color:#FFFF99">{{question.answer}}</pre>
			</div>
	            </div>
		</div>
	{% endfor %}
	</div>
{% endblock%}

