{% extends "base.html" %}
{% block page-content %}
		<div class="row">
			<div class="span12">
				<div id="home-carousel" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
						<div class="active item">
							<img src="/static/assets/slide-7.jpg" alt="">
							<div class="imgtext"> 老男孩Linux，因为有梦想，青春不逝去</div>	
						</div>
						<div class="item">
							<img src="/static/assets/slide-8.jpg" alt="">
							<div class="imgtext"> 有些事，现在不做，已后再也没机会做了</div>
						</div>
						 <div class="item">
                                                        <img src="/static/assets/slide-10.jpg" alt="">
                                                        <div class="imgtext"> 北上广的夜晚，怎样承载梦想</div>
                                                </div>
						<div class="item">
                                                        <img src="/static/assets/slide-6.jpg" alt="">
                                                        <div class="imgtext" style="color:red"> Ready to be outstanding? </div>
                                                </div>
					</div>
					<!-- Carousel nav -->
					<a class="carousel-control left" href="index.html#home-carousel" data-slide="prev">&lsaquo;</a>
					<a class="carousel-control right" href="index.html#home-carousel" data-slide="next">&rsaquo;</a>
				</div><!-- /.carousel -->
			</div><!-- /.span -->
		</div><!-- /.row -->
			
		<div class="row">
			<div class="span12">
				<div class="well centered" >
					<h3 style="color:brown">成为Linux高级运维架构师、 Python运维开发工程师，让我们一起致青春!  &nbsp;&nbsp  <a class="btn btn-primary btn-large" href="/courses/">More <i class="icon icon-caret-right"></i></a></h3>
				</div>
			</div>
		</div>
			
		<div class="row">
			{% for class in class_list%}
			<div class="span3">
				<div class="info-column">
					<img class="img-rounded" src="/static/assets/team-1.jpg" alt="">
					<h3>{{class.headline}}</h3>
					<p>{{class.brief}}</p>
					<a class="btn btn-primary" href="/courses/">详细 &raquo;</a>
				</div>
			</div>
			{% endfor%}
			<div class="span3">
				<div class="info-column">
					<img class="img-rounded" src="/static/assets/team-2.jpg" alt="">
					<h3>Linux高级运维架构师</h3>
					<p>在中级班的基础上掌握大型企业IT架构，维护上万台机器，毕业学员普遍薪资10-25K</p>
					<a class="btn btn-primary" href="index.html#">详细 &raquo;</a>
				</div>
			</div>
			<div class="span3">
				<div class="info-column">
					<img class="img-rounded" src="/static/assets/team-3.jpg" alt="">
					<h3>Python高级运维开发课程</h3>
					<p>迅速掌握目前最火热的运维开发语言，学员毕业后可轻易开发出多线程、多并发的，基于WEB界面的运维自动化系统，毕业学员普遍薪水在15-25K</p>
					<a class="btn btn-primary" href="index.html#">详细 &raquo;</a>
				</div>
			</div>
			<div class="span3">
				<div class="info-column">
					<img class="img-rounded" src="/static/assets/team-4.jpg" alt="">
					<h3>C语言系统运维开发大师课程</h3>
					<p>It’s easier to stick to a budget designed for your lifestyle. Mint automatically creates one tailored just for you and keeps you on track with email and mobile alerts.</p>
					<a class="btn btn-primary" href="index.html#">详细 &raquo;</a>
				</div>
			</div>
		</div><!-- /.row -->
			
		<div class="row">
			<div class="span12">
				<div class="well centered">
					<h3>青春是什么？青春就像下面这段文字！</h3>
					<p>因为我处于页面最下端，所以很少有人看到我，因为我的字体小，所以即使别人看到了，也可能一扫而过，可能不会有人愿意停下来读一下我，对别人来讲，我就像一段无聊的广告一样放在这里，对我来讲，这就是我的青春。</p>
					<p>我曾无数次问设计师，为什么不能把我放在首页最上方，为什么不能让所有人看到我？为什么我的青春不能像别人一样绽放？设计师从来没回答过我的问题，实际上他从来都没有听到过我的声音。你是否也和我一样？拥有梦想，却不得不在人群中彷徨，拥有青春，却没有人愿意停下来为你鼓掌？-----来老男孩，让我们一起致青春</p>
				</div>
			</div>
		</div>

	{% endblock %}
