{% extends 'base.html'%}
{% block page-content%}
	<div class="row">
		<div class="span12">
			<h2>最新开班信息</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="span12">
			<div class="well centered" style="background-color:orange">
				<h3>专注IT运维领域11年 - 铸就中国精英Linux运维培训第一品牌</h3>
				<p>所学的内容就是实际的项目，学习的过程就是做项目的过程。等同于积累了工作经验。
				老男孩老师领衔的Linux, Python教学团队，是目前中国IT运维培训界首屈一指的教学团队，汇聚名师，方能成就精英.</p>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function commitSignup(){
			$('.warntip').remove();
			var name = $("#signname").val(),educa = $("#education").val(),phone=$("#signPhoneNum").val(),classn = $("#signClassName").val(),msg = $("#message").val();
			if(name == "" || phone ==""){
				$("#modal-container-4393").append("<p class='warntip'>请填写完整再提交</p>");
				return;
			}
			var data = {"name":name,"education":educa,"phoneNum":phone,"className":classn,"message":msg};
				
			 $.post('/signupclass/',data,function(data) {
                			if(data == "ok")
						alert("报名成功");
					else
						alert("报名失败，请选择在线咨询或电话咨询");
			});
			$("#modal-container-4393").modal("hide");
		}
	</script>
	<div class="row">
		{% if new_classes %}
		{% for c in new_classes%}
			<div class="span3">
				<ul class="pricing-table">
					{% if c.limited %}
					<div class="ribbon-wrapper">
						<div class="ribbon">座位紧张</div>
					</div>
					{%endif%}
					<li><h3>{{ c.class_name}}</h3></li>
					<li>{{c.number}}</li>
					<li style="font-size:15px;background-color:orange">开班日期: {{c.start_date}}</li>
					<li>时长：{{c.course_term}}</li>
					<li>上课方式: {{c.method}}</li>
					<li>班级人数：{{c.students}}</li>
					<li class="footer">
						<a href="http://wpa.qq.com/msgrd?v=3&amp;uin=70271111&amp;site=qq&amp;menu=yes" target="_blank" class="btn btn-primary">立刻了解</a>
						<a id="modal-4393" href="#modal-container-4393" role="button" class="btn btn-primary" data-toggle="modal">现在报名</a>
					</li>
				</ul>
			</div>
		{%endfor%}
		{%endif%}
	</div>
	<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div id="modal-container-4393" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:400px">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						报名<span class="comment">(有<span class="redstar">*</span>标记的为必填项)</span>	
					</h3>
				</div>
				<div class="modal-body">
                                        <label for="name"><span class="redstar">*</span> 姓名:</label>
                                        <input class="span4" type="text" id="signname" style="width:90%" placeholder="">
					
					<label for="name">学历:</label>
                                        <select class="span4" id="education" style="width:90%" >
						<option>高中及以下</option>
						<option>大学及以上</option>
					</select>

                                        <label for="inputPhoneNum"><span class="redstar">*</span> 电话:</label>
                                        <input class="span4" type="text" id="signPhoneNum" style="width:90%" placeholder="">
                                        <label for="message"><span class="redstar">*</span> 课程名称:</label>
					<select class="span4" id="signClassName" style="width:90%" >
					{% if new_classes %}
			                {% for c in new_classes%}
						<option>{{c.class_name}}</option>
					{%endfor%}
                			{%endif%}					
					</select>
					<label for="comment"> 备注:</label>
					<textarea class="span4" rows="4" id="message" style="width:90%" placeholder=""></textarea>	
				</div>
				<div class="modal-footer">
					 <button class="btn btn-primary"  onclick="commitSignup()">提交</button> 
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock%}
