{% extends "base.html" %}
{% block page-content %}
	<div class="row">
		<div class="span12">
			<ul class="filter">
				请点击相应的课程进行试听
			</ul>

			<!--Portfolio Items-->
			<ul class="thumbnails portfolio">
				<li class="span3 cat-1">
					<div class="thumbnail">
						<a class="js-fancybox" rel="album" title="Fancybox Image Gallery" href="assets/item-big.png"><img src="assets/item-small.png" alt=""></a>
						<h5>Linux中高级运维实战就业班</h5>
						<p>Description</p>
					</div>
				</li>
				<li class="span3 cat-2">
					<div class="thumbnail">
						<a class="js-fancybox" rel="album" href="assets/item-big.png"><img src="assets/item-small.png" alt=""></a>
						<h5>Linux高级运维架构师</h5>
						<p>Description</p>
					</div>
				</li>
				<li class="span3 cat-3">
					<div class="thumbnail">
						<a class="js-fancybox" rel="album" href="assets/item-big.png"><img src="assets/item-small.png" alt=""></a>
						<h5>Python高级运维开发课程</h5>
						<p>Description</p>
					</div>
				</li>
				<li class="span3 cat-2">
					<div class="thumbnail">
						<a class="js-fancybox" rel="album" href="assets/item-big.png"><img src="assets/item-small.png" alt=""></a>
						<h5> C语言系统运维开发大师课程</h5>
						<p>Description</p>
					</div>
				</li>
			</ul>
		</div><!-- /.span12 -->
	</div><!-- /.row -->
{% endblock %}
